@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */

html {
  scroll-behavior: smooth;
}

h2 {
  @apply text-2xl font-bold py-3;
}

section {
  @apply px-6 pb-3;
}

section:not(#contact) {
  @apply pt-16;
}

.btn {
  @apply px-3 py-1 font-medium transition-colors bg-blue-800 text-white rounded mt-10 mr-1 border-transparent inline-block hover:bg-white border-2 hover:border-blue-800 hover:text-blue-800;
}

.nav-link {
  @apply mx-2 py-2 transition-colors border-b border-transparent hover:border-blue-800 hover:text-blue-800;
}

.social-media-links {
  @apply flex justify-between lg:gap-3;
}

/* Intro */

#intro .social-media-links a {
  @apply text-blue-800;
}

/* Skills */

#skills h3 {
  @apply text-xl font-semibold py-3;
}

#skills img {
  @apply h-9;
}
