@tailwind base;
@tailwind components;
@tailwind utilities;

.social-media-links a {
  @apply text-blue-800 mr-3;
}

.first-project {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url('assets/first-app.jpg');
}

.second-project {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url('assets/second-app.jpg');
}

.third-project {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url('assets/third-app.png');
}

.fourth-project {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url('assets/fourth-app.jpg');
}

.project {
  @apply p-3 h-48 bg-center bg-cover bg-no-repeat rounded-lg mb-3;
}

.project h3 {
  @apply font-extrabold text-white text-xl;
}

.project-skills li {
  @apply bg-gray-700 text-white inline-block px-2 py-1 rounded mr-1;
}

#projects button {
  @apply bg-blue-800 text-white text-center w-full py-1 rounded my-3;
}
