@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */

html {
  scroll-behavior: smooth;
}

section {
  @apply px-6 pb-6;
}

section:not(#contact) {
  @apply pt-16;
}

.btn {
  @apply bg-blue-800 px-4 py-2 font-medium text-white rounded mt-10 mr-1 border-transparent inline-block hover:bg-white border-2 hover:border-blue-800 hover:text-blue-800;
}

/* Intro */

#intro .social-media-links a {
  @apply text-blue-800;
}

/* Skills */

#skills h3 {
  @apply text-xl font-semibold py-3;
}

#skills li {
  @apply inline-block mr-2 text-gray-800;
}
